{% extends 'base.html' %}

{% block content %}
<h1>Kategorie nalezu</h1>
<p><a class="btn btn-outline-primary btn-sm" href="{{ url_for('add_category') }}" role="button">Přidat kategorii</a></p>

{% from 'macros.html' import render_modal %}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="col-3">Název</th>
            <th scope="col">Podkategorie</th>
            <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    <tbody>
    {% for cat in categories %}
        <tr>
            <td>{{cat.title}}</td>
            <td>
                <div class="container">
                {% for c in cat.children %}
                    <div class="row">
                        <div class="col-md-4">
                        {{ c.title }}
                        </div>
                        <div class="col-md-4">
                            <p>
                                <a class="icon-link" href="{{ url_for('edit_category', category_id=c.id) }}">
                                <svg class="bi" aria-hidden="true"><use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#pencil-fill"></use></svg>
                                </a>
                                <a class="icon-link" href="{{ url_for('delete_category', category_id=c.id) }}" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ c.id }}">
                                <svg class="bi" aria-hidden="true"><use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#trash-fill"></use></svg>
                                </a>
                                {{ render_modal(c.id, 'category') }}
                            </p>
                        </div>
                    </div>
                        {% if c.children %}
                            {% for cc in c.children %}
                            <div class="row">
                                <div class="col-md-4 offset-md-1">
                                {{ cc.title }}
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        <a class="icon-link" href="{{ url_for('edit_category', category_id=cc.id) }}">
                                        <svg class="bi" aria-hidden="true"><use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#pencil-fill"></use></svg>
                                        </a>
                                        <a class="icon-link" href="{{ url_for('delete_category', category_id=cc.id) }}"
                                           data-bs-toggle="modal" data-bs-target="#deleteModal_{{ cc.id }}">
                                        <svg class="bi" aria-hidden="true"><use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#trash-fill"></use></svg>
                                        </a>
                                        {{ render_modal(cc.id, 'category') }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                {% endfor %}
                <div class="col-md-4">
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('add_category', parent_id=cat.id) }}" role="button">Přidat podkategorii</a>
                </div>
                </div>
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('edit_category', category_id=cat.id) }}" role="button">Upravit</a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('delete_category', category_id=cat.id) }}" role="button"
                       data-bs-toggle="modal" data-bs-target="#deleteModal_{{ cat.id }}">Smazat</a>
                    {{ render_modal(cat.id, 'category') }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}